<section class="relative pb-[100px]">
    <div class="container mx-auto px-[15px]">
        <ul class="flex flex-wrap items-center justify-center gap-[30px]">
            <li class="group flex items-center gap-[12px] px-[30px] py-[25px] rounded-[14px] border-[#DDD] border-[1px] font-[500] text-[18px] leading-[1]">
                <svg width="23" height="28" viewBox="0 0 23 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21.8 7.5V20.5C21.8 25.7 20.5 27 15.3 27H7.5C2.3 27 1 25.7 1 20.5V7.5C1 2.3 2.3 1 7.5 1H15.3C20.5 1 21.8 2.3 21.8 7.5Z" stroke="#3498db" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path opacity="0.4" d="M14 5.54993H8.80005" stroke="#3498db" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path opacity="0.4" d="M11.4001 23.2303C12.5129 23.2303 13.4151 22.3282 13.4151 21.2153C13.4151 20.1025 12.5129 19.2003 11.4001 19.2003C10.2872 19.2003 9.38507 20.1025 9.38507 21.2153C9.38507 22.3282 10.2872 23.2303 11.4001 23.2303Z" fill="#3498db" stroke="#3498db" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                Perfect Responsive
            </li>
            <li class="group flex items-center gap-[12px] px-[30px] py-[25px] rounded-[14px] border-[#DDD] border-[1px] font-[500] text-[18px] leading-[1]">
                <svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.34" d="M12.9941 15.9191C14.9813 15.9191 16.5923 14.3081 16.5923 12.3209C16.5923 10.3336 14.9813 8.72266 12.9941 8.72266C11.0068 8.72266 9.39587 10.3336 9.39587 12.3209C9.39587 14.3081 11.0068 15.9191 12.9941 15.9191Z" fill="#3498db" stroke="#3498db" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M1 13.3765V11.2655C1 10.0182 2.01949 8.98669 3.27886 8.98669C5.44978 8.98669 6.33733 7.45146 5.24588 5.5684C4.62219 4.48894 4.994 3.08564 6.08546 2.46195L8.16042 1.27454C9.10795 0.710826 10.3313 1.04666 10.8951 1.99418L11.027 2.22207C12.1064 4.10513 13.8816 4.10513 14.973 2.22207L15.1049 1.99418C15.6687 1.04666 16.8921 0.710826 17.8396 1.27454L19.9145 2.46195C21.006 3.08564 21.3778 4.48894 20.7541 5.5684C19.6627 7.45146 20.5502 8.98669 22.7211 8.98669C23.9685 8.98669 25 10.0062 25 11.2655V13.3765C25 14.6239 23.9805 15.6554 22.7211 15.6554C20.5502 15.6554 19.6627 17.1906 20.7541 19.0736C21.3778 20.1651 21.006 21.5564 19.9145 22.1801L17.8396 23.3675C16.8921 23.9312 15.6687 23.5954 15.1049 22.6479L14.973 22.42C13.8936 20.5369 12.1184 20.5369 11.027 22.42L10.8951 22.6479C10.3313 23.5954 9.10795 23.9312 8.16042 23.3675L6.08546 22.1801C4.994 21.5564 4.62219 20.1531 5.24588 19.0736C6.33733 17.1906 5.44978 15.6554 3.27886 15.6554C2.01949 15.6554 1 14.6239 1 13.3765Z" stroke="#3498db" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                Highly Customizable
            </li>
            <li class="group flex items-center gap-[12px] px-[30px] py-[25px] rounded-[14px] border-[#DDD] border-[1px] font-[500] text-[18px] leading-[1]">
                <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.3" d="M21.2032 11.6238C24.4218 11.6238 25.7587 10.3853 24.5703 6.3233C23.7657 3.58638 21.4136 1.23337 18.6778 0.428398C14.6174 -0.760489 13.3795 0.577009 13.3795 3.79691V7.36357C13.3795 10.3853 14.6174 11.6238 17.0933 11.6238H21.2032Z" fill="#3498db"></path>
                    <path d="M23.2829 14.9674C22.1316 20.7013 16.6352 24.8624 10.3837 23.8469C5.69199 23.0915 1.91632 19.3143 1.14881 14.6206C0.146096 8.39136 4.28076 2.89276 9.98758 1.72864" stroke="#3498db" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                SEO Friendly
            </li>
            <li class="group flex items-center gap-[12px] px-[30px] py-[25px] rounded-[14px] border-[#DDD] border-[1px] font-[500] text-[18px] leading-[1]">
                <svg width="24" height="26" viewBox="0 0 24 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M22.6 7V19C22.6 22.6 20.8 25 16.6 25H7C2.8 25 1 22.6 1 19V7C1 3.4 2.8 1 7 1H16.6C20.8 1 22.6 3.4 22.6 7Z" stroke="#3498db" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path opacity="0.4" d="M16.0001 1V10.432C16.0001 10.96 15.3761 11.224 14.9921 10.876L12.2081 8.30803C11.9801 8.09203 11.6201 8.09203 11.3921 8.30803L8.60813 10.876C8.22413 11.224 7.6001 10.96 7.6001 10.432V1H16.0001Z" fill="#3498db" stroke="#3498db" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path opacity="0.4" d="M13.2998 15.3999H18.3998" stroke="#3498db" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path opacity="0.4" d="M8.2002 20.2002H18.4002" stroke="#3498db" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                17 HTML Valid Files
            </li>
            <li class="group flex items-center gap-[12px] px-[30px] py-[25px] rounded-[14px] border-[#DDD] border-[1px] font-[500] text-[18px] leading-[1]">
                <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.328 1H19.66C23.932 1 25 2.068 25 6.328V13.924C25 18.196 23.932 19.252 19.672 19.252H6.328C2.068 19.264 1 18.196 1 13.936V6.328C1 2.068 2.068 1 6.328 1Z" stroke="#3498db" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path opacity="0.4" d="M13 19.2639V24.9999" stroke="#3498db" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path opacity="0.4" d="M1 14.2002H25" stroke="#3498db" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M7.6001 25H18.4001" stroke="#3498db" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                Modern Design
            </li>
            <li class="group flex items-center gap-[12px] px-[30px] py-[25px] rounded-[14px] border-[#DDD] border-[1px] font-[500] text-[18px] leading-[1]">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15 3.99976V4.01226" stroke="#3498db" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M15 9.62476V9.63726" stroke="#3498db" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M15 14.6252V14.6377" stroke="#3498db" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path opacity="0.4" d="M15 19.625V19.6375" stroke="#3498db" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path opacity="0.4" d="M15 24.0002V24.0127" stroke="#3498db" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path opacity="0.4" d="M15 27.7502V27.7627" stroke="#3498db" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M4.37518 9.62476V9.63726" stroke="#3498db" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M25.6248 9.62476V9.63726" stroke="#3498db" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path opacity="0.4" d="M25.6248 14.6252V14.6377" stroke="#3498db" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path opacity="0.4" d="M4.37518 14.6252V14.6377" stroke="#3498db" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path opacity="0.4" d="M25.6248 18.3752V18.3877" stroke="#3498db" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path opacity="0.4" d="M25.6248 22.1252V22.1377" stroke="#3498db" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path opacity="0.4" d="M4.37518 18.3752V18.3877" stroke="#3498db" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path opacity="0.4" d="M4.37518 22.1252V22.1377" stroke="#3498db" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M9.74982 12.125V12.1375" stroke="#3498db" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M9.68732 6.87476V6.88726" stroke="#3498db" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M20.2502 12.125V12.1375" stroke="#3498db" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M20.3127 6.87476V6.88726" stroke="#3498db" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path opacity="0.4" d="M9.74982 17.1248V17.1373" stroke="#3498db" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path opacity="0.4" d="M9.74982 20.8748V20.8873" stroke="#3498db" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path opacity="0.4" d="M9.74982 24.6248V24.6373" stroke="#3498db" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path opacity="0.4" d="M20.2502 17.1248V17.1373" stroke="#3498db" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path opacity="0.4" d="M20.2502 20.8748V20.8873" stroke="#3498db" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path opacity="0.4" d="M20.2502 24.6248V24.6373" stroke="#3498db" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                Awesome Animation
            </li>
            <li class="group flex items-center gap-[12px] px-[30px] py-[25px] rounded-[14px] border-[#DDD] border-[1px] font-[500] text-[18px] leading-[1]">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 19.3333V12C1 9.08262 2.15893 6.28473 4.22183 4.22183C6.28473 2.15893 9.08262 1 12 1C14.9174 1 17.7153 2.15893 19.7782 4.22183C21.8411 6.28473 23 9.08262 23 12V19.3333" stroke="#3498db" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M23 20.5554C23 21.2038 22.7425 21.8255 22.284 22.2839C21.8256 22.7424 21.2039 22.9999 20.5556 22.9999H19.3333C18.685 22.9999 18.0633 22.7424 17.6049 22.2839C17.1464 21.8255 16.8889 21.2038 16.8889 20.5554V16.8888C16.8889 16.2405 17.1464 15.6187 17.6049 15.1603C18.0633 14.7019 18.685 14.4443 19.3333 14.4443H23V20.5554ZM1 20.5554C1 21.2038 1.25754 21.8255 1.71596 22.2839C2.17438 22.7424 2.79614 22.9999 3.44444 22.9999H4.66667C5.31497 22.9999 5.93673 22.7424 6.39515 22.2839C6.85357 21.8255 7.11111 21.2038 7.11111 20.5554V16.8888C7.11111 16.2405 6.85357 15.6187 6.39515 15.1603C5.93673 14.7019 5.31497 14.4443 4.66667 14.4443H1V20.5554Z" fill="#3498db" fill-opacity="0.4" stroke="#3498db" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                Fast Support
            </li>
        </ul>
    </div>
</section>