<section class="relative py-[100px] mb-[100px]">
    <div class="absolute inset-0 mx-[2%] rounded-[25px] overflow-hidden bg-[#2c3e50]">
        <img class="w-full h-full object-cover opacity-[0.1]" src='{{ theme.link }}/assets/images/pattern.png' alt="Pattern">
    </div>
    <div class="relative container mx-auto px-[25px]">
        <h1 class="capitalize font-[700] leading-[1.2] text-[38px] md:text-[60px] lg:text-[90px] text-white text-center">
            Hi I'm,<br><span class="text-[#3498db]">Anwar Ramadan</span> Frontend Engineer
        </h1>
        <div class="mt-[30px] flex items-center justify-center gap-[30px] flex-wrap">
            <a class="btn-1 btn-3" href="#projects"><span>explore projects</span></a>
            <a class="btn-1 btn-4" href="{{ options.download_cv['url'] }}" download><span>Download My CV</span></a>
        </div>
    </div>
</section>